---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Headline from '../components/Headline.astro';
import CallToAction from '../components/organisms/CallToAction.astro';
import AboutTheEvent from '../components/organisms/AboutTheEvent.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <NavBar />
    <Headline />
    <CallToAction />
    <AboutTheEvent />
  </main></Layout
>
