<section class="bg-head-line relative h-[400px] bg-cover bg-center">
  <div class="bg-accent bg-opacity-80 flex flex-row absolute inset-0">
    <div class="w-full h-full p-8 pr-2 flex items-center justify-rigth">
      <h1
        class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-8xl"
      >
        SOFTWARE CRAFTERS BARCELONA
      </h1>
    </div>
    <div class="w-full h-full p-8 pl-2 flex items-center justify-left">
      <h3 class="text-primary font-bold tracking-wide uppercase">
        11TH EDITION
      </h3>
    </div>
  </div>
</section>
; ---

<!--   style="background-image: url('public/img/event2024.jpeg');" -->
<!-- class="flex flex-row absolute inset-0 bg-blue-500 opacity-50" -->
