---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="border-2">
  <ul class="flex justify-center items-center space-x-4">
    <li class="text-black hover:text-gray-400">
      <a
        class="text-black hover:text-gray-400 flex items-center space-x-2"
        href="#home"
        class="scroll-to"
      >
        <img src="/img/logo.png" alt="scbcn logo" height="35px" width="46px" />
        <span>SCBCN24</span>
      </a>
    </li>
    <li>
      <a href="#about" class="text-black hover:text-gray-400"
        >{t('nav.about')}</a
      >
    </li>
    <li>
      <a href="#schedule" class="text-black hover:text-gray-400"
        >{t('nav.schedule')}</a
      >
    </li>
    <li>
      <a href="#diversity" class="text-black hover:text-gray-400"
        >{t('nav.diversity')}</a
      >
    </li>
    <li>
      <a href="#sponsors" class="text-black hover:text-gray-400"
        >{t('nav.sponsors')}</a
      >
    </li>
    <li>
      <a href="#coc" class="text-black hover:text-gray-400">Code of Conduct</a>
    </li>
    <li>
      <a href="#location" class="text-black hover:text-gray-400">Location</a>
    </li>
    <li>
      <a href="#organisation" class="text-black hover:text-gray-400"
        >Organisation</a
      >
    </li>
    <li>
      <a href="2023/index.html" class="text-black hover:text-gray-400">2023</a>
    </li>
  </ul>
</nav>
