---
import SectionTitle from '../atoms/SectionTitle.astro';
---

<section class="mx-36 p-4" id="about">
  <SectionTitle title="About The Event" subtitle="A place to share knowledge" />
  <div class="grid grid-cols-4 gap-10">
    <div class="col-span-3">
      <p class="text-text px-1 text-wrap">
        Software Crafters Barcelona is a two-day event starting with the Friday
        Open Space and continuing a Saturday of exciting conferences, which aim
        to attract and connect software development professionals who feel
        passionate about their work and share the values and principles of the
        Crafters movement.
      </p>
    </div>
    <div class="col-span-1">
      <img
        class="rounded-lg m-2"
        src="/img/Organisation24_1.jpg"
        alt="SCBCN24"
      />
      <img
        class="rounded-lg m-2"
        src="/img/Organisation24_2.jpg"
        alt="SCBCN24"
      />
    </div>
  </div>
</section>
