---
import MainActionLink from '../atoms/MainActionLink.astro';
---

<section>
  <div class="mb-3 -mt-10 flex justify-center">
    <MainActionLink text=" Call for sponsors" href="https://www.google.com" />
    <MainActionLink
      text="Get tickets"
      href="https://softwarecraftersbarcelona.eventbrite.com/"
    />
  </div>
</section>
